@media (min-width: 1024px) {
  /* generals */

  body {
    display: flex;
  }

  main {
    width: 57.6vw;
    max-width: unset;

    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* hero */

  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
    width: 42.4vw;
    height: 100vh;

    background-image: url("../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* logo */

  .logo {
    margin: 4.125em 10.3rem;
  }
  .logo img {
    width: 10rem;
    height: 2rem;
  }

  /* heading and message */

  .container {
    display: block;
    padding: 0;
    margin: 8rem auto auto 10.3rem;
    width: 53.5%;
  }

  h1 {
    margin: 0;

    text-align: left;
    font-size: 4rem;
    line-height: 4.375rem;
    letter-spacing: 1.08rem;
  }
  h1 span {
    font-size: 4rem;
  }
  .message {
    margin: 0;
    padding: 1.2rem 0;

    text-align: left;
    font-size: 0.938rem;
    line-height: 1.7rem;
    letter-spacing: 0.02rem;
  }

  /* form */

  form {
    margin: 1.4rem 0;
    width: 100%;
  }

  input[type="email"] {
    height: 3.2rem;
    padding: 0 2rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  ::-ms-input-placeholder {
    font-size: 1rem;
  }

  button {
    width: 6.1rem;
    height: 3.4rem;
  }

  .error-icon {
    top: 1.6rem;
    right: 7.2rem;
    transform: translateY(-50%);
  }

  .error-text {
    left: 2rem;
    bottom: -1.6rem;
    
    color: var(--soft-red);
    font-size: 0.85rem;
  }
}
