/* generals */

main {
  height: 100vh;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

/* logo */

.logo {
  padding: 1.8rem 2rem;
}
.logo img {
  width: 6.25rem;
  height: 1.375rem;
}

/* hero */

.hero-desktop {
  display: none;
}
.hero-mobile {
  background: no-repeat center url("../images/hero-mobile.jpg");
  background-size: contain;
  min-height: 15.625rem;
}

/* heading and message */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

h1 {
  margin: 4rem auto 1rem;

  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.6rem;
  letter-spacing: 0.7rem;
  color: var(--dark-grayish-red);
}
h1 span {
  font-weight: 300;
  color: var(--desaturated-red);
}

.message {
  margin: 0 2.4rem;

  text-align: center;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.38rem;
  color: var(--desaturated-red);
}

/* form */

form {
  margin: 2rem;
  width: 84%;
  display: flex;
  justify-content: center;
  position: relative;
}

input[type="email"] {
  padding: 0 1.4rem;
  width: 100%;
  height: 2.8rem;
  z-index: 0;

  border: 1.8px solid var(--very-desaturated-red);
  border-radius: 2rem;

  background-color: transparent;

  font-family: inherit;
  font-size: 0.85rem;
  color: var(--dark-grayish-red);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 600;
  color: var(--very-desaturated-red);
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  font-weight: 600;
  color: var(--very-desaturated-red);
}
input[type="email"]:focus {
  outline: none;
  border: 1.8px solid var(--desaturated-red);
}


button {
  padding: 0.8rem;
  width: 4rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  border-radius: 2rem;
  border: none;

  background: var(--button-gr);

  box-shadow: 0px 15px 24px hsla(0, 36%, 70%, 0.432);
  cursor: pointer;
}
button:hover {
  background: var(--button-hover);
  box-shadow: 0px 18px 30px hsla(0, 36%, 70%, 0.575);
}

/* form error */

form.error input[type="email"] {
	border: 2px solid var(--soft-red);
}

.error-icon {
  display: none;
  position: absolute;
  top: 1.4rem;
  right: 5rem;
  transform: translateY(-50%);
}

form.error .error-icon {
	display: block;
}

.error-text {
  display: none;
  position: absolute;
  left: 1.6rem;
  bottom: -1.4rem;
  
  color: var(--soft-red);
  font-size: 0.75rem;
  font-weight: bold;
}

form.error .error-text {
	display: block;
}
