/* logo */

.logo {
  margin: 1.95rem 2rem 1.8rem;
  }
.logo img {
  width: 6.25rem;
  height: 1.25rem;
}

/* hero */

.hero-desktop {
display: none;
}
.hero-mobile {
background: no-repeat center url("../images/hero-mobile.jpg");
height: 15.625rem;
}

/* heading and message */

.container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
h1 {
margin: 4rem auto 1rem;

text-align: center;
text-transform: uppercase;
font-size: 2.5rem;
font-weight: 600;
line-height: 2.65rem;
letter-spacing: 0.7rem;
color: var(--dark-grayish-red);
}
h1 span {
font-size: 2.5rem;
font-weight: 300;
color: var(--desaturated-red);
}
.message {
margin: 0 2.4rem;

text-align: center;
font-size: 0.85rem;
font-weight: 600;
line-height: 1.38rem;
color: var(--desaturated-red);
}

/* form */

form {
margin: 2rem;
width: 84%;
display: flex;
justify-content: center;
position: relative;
}

input[type="email"] {
padding: 0 1.4rem;
width: 100%;
height: 2.8rem;
z-index: 0;

border: 1.8px solid var(--very-desaturated-red);
border-radius: 2rem;

background-color: transparent;

font-family: inherit;
font-size: 0.85rem;
color: var(--desaturated-red);
}
::placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ */
font-weight: 600;
color: var(--very-desaturated-red);
opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
/* Microsoft Edge */
font-weight: 600;
color: var(--very-desaturated-red);
}
input[type="email"]:focus {
outline: none;
border: 1.8px solid var(--desaturated-red);
}

button {
padding: 0.8rem;
width: 4rem;
position: absolute;
top: 0;
right: 0;
z-index: 1;

border-radius: 2rem;
border: none;

background: var(--button-gr);

box-shadow: 0px 15px 24px hsla(0, 36%, 70%, 0.432);
cursor: pointer;
}
button:hover {
background: hsl(0, 77%, 83%);
}

.error-icon {
display: none;
/* position: absolute; */
}

.error-text {
display: none;
}