@media (min-width: 768px) {
  /* generals */

  body {
    display: flex;
  }

  main {
    width: 47vw;
    max-width: unset;

    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* hero */

  .hero-mobile {
    display: none;
  }
  .hero-desktop {
    display: block;
    width: 53vw;
    height: 100vh;

    background-image: url("../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  /* logo */

  .logo {
    padding: 4rem;
  }

  .logo img {
    width: 8rem;
    height: 1.76rem;
  }

  /* heading and message */

  .container {
    padding: 4rem;
  }

  h1 {
    margin: 0;

    text-align: left;
    font-size: 3remrem;
    line-height: 3rem;
    letter-spacing: 0.8rem;
  }

  .message {
    margin: 0;
    padding: 1.2rem 0;

    text-align: left;
    font-size: 0.8rem;
    line-height: 1.2rem;
    letter-spacing: 0.02rem;
  }

  /* form */

  form {
    margin: 1.4rem 0;
    width: 100%;
  }

  input[type="email"] {
    height: 2.5rem;
    padding: 0 2rem;
  }
  ::placeholder {
    font-size: 0.85rem;
  }
  ::-ms-input-placeholder {
    font-size: 0.85rem;
  }

  button {
    width: 4.1rem;
    height: 2.7rem;
  }
}
